h1{
	font-family: impact;
	text-align: center;
}

h3{
	font-family: helvetica;
}

p{
	font-family: helvetica;
	font-size: 14px;
}

iframe{
	display: block;
	margin: auto;
	width: 700px;
	padding-left: 30px;
	position: relative;
}

.cat{
	width: 170px;
	float: left;
	position: absolute;
	top: 250px;
	left: 60px;
	bottom: 10px;

}

.dog{
	width: 100px;
	float: right;
	position: absolute;
	left: 1050px;
	top: 200px;
}

